*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

html {
    --background1: 0, 0%, 12%;
    --text1: hsl(0, 0%, 100%);
    --text2: hsl(0, 0%, 50%);
    --border1: 0, 0%, 50%;
    --primary1: 190, 70%, 40%;
    --error1: 0, 70%, 60%;
    --green1: 110, 50%, 50%;
    --yellow1: 50, 50%, 50%;
    --purple1: 273, 70%, 60%;
    --orange1: 31, 70%, 60%;
}

html {
    background: hsl(var(--background1)) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8//+/FCMj4zMGJMCIzIGxKRQEAJgPBAbJqUVTAAAAAElFTkSuQmCC) repeat;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: var(--text1);
    font: 1.6rem / 1.5 "Barlow", sans-serif;
    margin: 0;
}

@keyframes pan-image {
    0% {
        background-position: 36% 42%;
        background-size: 200%;
    }

    20% {
        background-position: 30% 35%;
        background-size: 200%;
    }

    20.0001% { /* -- View 2 -- */
        background-position: 60% 85%;
        background-size: 500%;
    }

    40% {
        background-position: 49% 81%;
        background-size: 500%;
    }

    40.0001% { /* -- View 3 -- */
        background-position: 80% 42%;
        background-size: 300%;
    }

    60% {
        background-position: 84% 33%;
        background-size: 300%;
    }

    60.0001% { /* -- View 4 -- */
        background-position: 0% 0%;
        background-size: 300%;
    }

    80% {
        background-position: 15% 4%;
        background-size: 300%;
    }

    80.0001% { /* -- View 5 -- */
        background-position: 80% 10%;
        background-size: 300%;
    }

    100% {
        background-position: 72% 14%;
        background-size: 300%;
    }
}

.card {
    background: linear-gradient(
        hsla(var(--primary1), 5%),
        hsla(var(--primary1), 30%)
    );
    border-radius: 0.5rem;
    border: 1px solid hsla(var(--primary1), 80%);
    position: relative;
    z-index: 0;
}

.card--glow {
    box-shadow:
        0 0 6rem 3rem hsla(0, 0%, 100%, 10%),
        0 0 10rem 6rem hsla(300, 100%, 50%, 10%),
        0 0 14rem 9rem hsla(180, 100%, 50%, 10%);
}

.card--lines::after {
    animation: pan-overlay 22s infinite linear;
    background-size: 100% 10px;
    background-image: linear-gradient(
        hsla(var(--primary1), 10%),
        hsla(var(--primary1), 10%) 2px,
        transparent 2px,
        transparent 10px
    );
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
}

.card--image::before {
    animation: pan-image 15s linear infinite;
    background-image: url("./images/city-background.webp");
    background-position: 0% 0%;
    background-size: 300%;
    border-radius: 0.5rem;
    content: "";
    filter: blur(5px);
    inset: 0;
    opacity: 0.1;
    position: absolute;
    z-index: -2;
}

.text-input {
    border-radius: 0.5rem;
    border: 1px solid hsla(var(--primary1), 80%);
    background: hsl(var(--background1), 50%);
    font: inherit;
    color: inherit;
    padding: 1.6rem;
}

.text-input:focus {
    outline: none;
}

.text-input::placeholder {
    color: hsla(var(--primary1), 70%);
}

.text-input--error {
    border: 1px solid hsla(var(--error1), 80%);
}

.text-input--error::placeholder {
    color: hsla(var(--error1), 70%);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.text-input--error {
    animation: shake 0.5s;
}

@keyframes pan-overlay {
    from {
      background-position: 0% 0%;
    }

    to {
      background-position: 0% -100%;
    }
  }

.button {
    background: hsl(var(--primary1));
    border-radius: 0.5rem;
    border: none;
    color: hsl(var(--background1));
    display: block;
    font: inherit;
    font-weight: 600;
    padding: 1.6rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 200ms;
}

.button:hover {
    box-shadow: 0 0 0 0.2rem inset hsl(var(--primary1)), 0 0 0 0.4rem inset hsl(var(--background1));
}

.message {
    display: flex;
    transition: filter 500ms;
}

.message.disabled {
    pointer-events: none;
    filter: grayscale(100%);
}

.message__input {
    flex-grow: 1;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    padding: 1.6rem;
    font-size: 2.4rem;
}

.message__input:focus {
    outline: none;
}

.message__input::placeholder {
    color: hsla(var(--primary1), 70%);
}

.message__button {
    stroke: hsl(var(--background1));
    border-radius: 0 0.5rem 0.5rem 0;
}

/* -----------------------------------------------------------------------------
Title */

.title {
    position: fixed;
    inset: 50% 0 auto 0;
    text-align: center;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: 9;
    pointer-events: none;
}

.title__message {
    font-size: 4.8rem;
    padding: 3.2rem;
    transform: translateY(-100%);
    transition: transform 500ms;
}

.title__subtitle {
    font-size: 2rem;
    opacity: 0.8;
}

.title::before {
    content: "";
    position: absolute;
    inset: 0;
    background: hsl(var(--primary1));
    z-index: -1;
    transform: scaleX(0);
    transition: transform 700ms;
}

.title.active::before {
    transform: none;
}

.title.active .title__message {
    transform: none;
    transition: transform 500ms 200ms;
}

@media screen and (max-width: 899px) {
    .title__message {
        font-size: 3.2rem;
    }
}

/* -----------------------------------------------------------------------------
Response */

.prompt {
    margin-top: 3.2rem;
    display: flex;
    gap: 1.6rem;
    flex-direction: row-reverse;
    justify-content: end;
    width: 100%;
    transition: opacity 500ms, transform 500ms;
    opacity: 0;
    transform: translateY(-50%);
}

.prompt--reverse {
    flex-direction: row;
}

.prompt.active {
    opacity: 1;
    transform: none;
}

.prompt__text {
    margin-left: 20rem;
    flex-grow: 1;
}

.prompt--reverse .prompt__text {
    margin-left: 0;
}

.prompt__text {
    filter: grayscale(100%);
}

.responses {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    margin: 3.2rem 0;
    width: 100%;
    transition: opacity 500ms, transform 500ms;
    position: relative;
}

.responses.hidden {
    opacity: 0;
    transform: translateY(-1rem);
}

.response {
    display: flex;
    gap: 1.6rem;
    transition: opacity 500ms, transform 500ms;
    position: relative;
}

.response.hidden {
    opacity: 0;
    transform: translateY(-1rem);
}


.response__icon,
.prompt__icon {
    border-radius: 0.5rem;
    height: 6.4rem;
    width: 6.4rem;
    fill: hsla(0, 0%, 100%, 20%);
    flex-shrink: 0;
}

.prompt__icon {
    background: hsl(var(--primary1));
    fill: hsl(var(--background1));
    filter: grayscale(100%);
}

.response:nth-child(1) {
    --colour: 0, 50%, 50%;
}

.response:nth-child(2) {
    --colour: 29, 50%, 50%;
}

.response:nth-child(3) {
    --colour: 58, 50%, 50%;
}

.response:nth-child(4) {
    --colour: 87, 50%, 50%;
}

.response:nth-child(5) {
    --colour: 116, 50%, 50%;
}

.response:nth-child(6) {
    --colour: 145, 50%, 50%;
}

.response:nth-child(7) {
    --colour: 174, 50%, 50%;
}

.response:nth-child(8) {
    --colour: 203, 50%, 50%;
}

.response:nth-child(9) {
    --colour: 232, 50%, 50%;
}

.response:nth-child(10) {
    --colour: 261, 50%, 50%;
}

.response:nth-child(11) {
    --colour: 290, 50%, 50%;
}

.response:nth-child(12) {
    --colour: 319, 50%, 50%;
}

.response__icon {
    background: hsl(var(--colour));
}

.response__text {
    background: linear-gradient(
        hsla(var(--colour), 5%),
        hsla(var(--colour), 30%)
    );
    border: 1px solid hsla(var(--colour), 80%);
}

.response__icon path:nth-child(2) {
    fill: var(--text1);
}

.response__text,
.prompt__text {
    padding: 1.6rem;
    flex-grow: 1;
    font-size: 2rem;
}
